.card{
  background-image: url('../public/pawel-czerwinski-ZlHvmQ0igW4-unsplash\ \(1\).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32rem;
  width: '21rem';
}

.bigbutton_a{
  font-family: Lucida Console, Monaco, monospace;
  color: black;
  font-size: 19px;
  text-shadow: 2px 2px #cc6699;
  border-color: #cc6699;
  border-radius: 13px ;
  border-width: 11px ;
  border-style: double;
  margin-right: 84rem;
  margin-bottom: 22px;
}

.links{
  text-decoration-color: white;
  color: white
}
.cardbutton{
 color: black;
}
.circleimage{
  margin-bottom: 45px;
  border: 8px solid  #cc6699
}
.schedule{
  font-family: Lucida Console, Monaco, monospace;
  color: #cc6699;
  text-shadow: 2px 2px black;
  margin-bottom: 35px;
  margin-top: 55px;
}

.container {
  background-image: url('../public/bernard-hermant-orgIwKaY-4Y-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.narrative{
  margin-bottom: 66px;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar{
  height: 55px;
  border: 3px solid #cc6699
}

.footer {
  width: 100%;
  height: 160px;
  border-top: 6px solid #5c8a8a;
  text-shadow: 2px 2px teal;
  display: flex;
  font-size: 45px;
  align-items: center;
  background-image: url('../public/pawel-czerwinski-ZlHvmQ0igW4-unsplash\ \(1\).jpg');
  background-size: 20rem;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  margin-top: 140px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 26px;
  margin-top: 116px;
  font-size: 110px;
  text-shadow: 4px 4px teal;
  font-family: "Lucida Console", Monaco, monospace;
  color: #cc6699;
}
.title_e{
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 26px;
  margin-top: 176px;
  font-size: 80px;
  text-shadow: 4px 4px teal ;
  font-family: "Lucida Console", Monaco, monospace;
  color: #cc6699;
}

.title_b{
  margin: 0;
  line-height: 1.15;
  margin-top: 98px;
  margin-bottom: 26px;  
  font-size: 54px;
  text-shadow: 2px 2px black;
  font-family: "Lucida Console", Monaco, monospace;
  color: #cc6699;
  background-color: teal;
}

.title_c{
  letter-spacing: 1.5px;
  text-shadow: 1px 1px pink;
  font-size: 33px;
  background-color: teal;
  margin-bottom: 65px;
}

.title_d{
  letter-spacing: 1.5px;
  text-shadow: 1px 1px pink;
  font-style: 44px;
}

.title_f{
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 26px;
  margin-top: 116px;
  font-size: 65px;
  text-shadow: 3px 3px black ;
  font-family: "Lucida Console", Monaco, monospace;
  color: #cc6699;
}

.description {
  line-height: 1.5;
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 124px;
  border-bottom: 5px double;
  font-family: "Lucida Console", Monaco, monospace;
  text-shadow: 1px 1px black;
  color: #cc6699;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Lucida Console", Monaco, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  text-shadow: 1px 1px teal;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: "Lucida Console", Monaco, monospace;

}

.card:hover,
.card:focus,
.card:active {
  color: black;
  border-color: teal;
  text-shadow: 2px 2px teal;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
